@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
:root {
    --font-title: "Fustat", sans-serif;
    --skinny: 300;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;

}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
    font-weight: var(--bold);
}
