.big-container {
	margin-left: 15rem;
	margin-right: 1rem;
	padding-top: 5rem;
}

.big-container-grid-boy {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

.eventsDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	border: 1px solid #ccc;
	border-radius: 0.5rem;
	background-color: #f9f9f9;
	margin-top: 0.5rem;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
}

.eventsDiv:hover {
	background: rgb(238, 83, 218);
	background: linear-gradient(
		235deg,
		rgba(238, 83, 218, 1) 0%,
		rgba(234, 95, 100, 1) 100%
	);
	color: white;
}

.eventsDiv h1 {
	margin-bottom: 0.5rem;
	font-size: 3em;
}

.eventsDivLocDate {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 0.5rem;
}

.eventImg {
	width: 100%;
	height: auto;
	max-width: 150px;
	margin: 20px 0;
}

.modal {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background-color: rgba(85, 85, 85, 0.7);
}

.modal-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #fefefe;
	padding: 20px;
	border: 1px solid #888;
	border-radius: 10px;
	width: 80%;
	max-width: 500px;
	position: relative;
}

.close-button {
	color: #aaa;
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.close-button:hover,
.close-button:focus {
	color: black;
	text-decoration: none;
}

.modalText {
	margin-top: 20px;
}

.modal-button {
	margin-top: 20px;
	padding: 10px 20px;
	border: none;
	background-color: #000000;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}

.modal-button:hover {
	background-color: #ff80e1;
}

.modal-content h2 {
	color: white;
}
