.form-page-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;

  & .form {
    grid-column-start: 1;
    grid-column-end: 2;

    & h1 {
      color: #000;
    }

    & form {
      width: 50%;
      margin: auto;
      display: flex;
      flex-direction: column;
    }
  }

  & section:last-of-type {
    grid-column-start: 2;
    background-color: #ee53da;
  }
}
