body {
	font-family: Arial, sans-serif;
}

.main-newspage {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 2rem 0 0 0rem;
	justify-content: space-between;
}

.big-section {
	padding-left: 18rem;
}

.articleMain,
.articleOthers {
	margin-bottom: 2rem;
}

.imgArticleMain,
.imgArticleOthers {
	width: 100%;
	height: auto;
	border-radius: 5%;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 20px,
		rgba(0, 0, 0, 0.1) 0px -12px 30px, rgba(0, 0, 0, 0.1) 0px 4px 6px,
		rgba(0, 0, 0, 0.1) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	margin-bottom: 1rem;
}

.textContainerMain,
.textContainerOthers {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 20px,
		rgba(0, 0, 0, 0.1) 0px -12px 30px, rgba(0, 0, 0, 0.1) 0px 4px 6px,
		rgba(0, 0, 0, 0.1) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	padding: 1rem;
	border-radius: 5%;
	background-color: #f8f8f8;
	width: 35rem;
}

.h2ArticleMain,
.h2ArticleOthers {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.pArticleOthers {
	font-size: 0.9rem;
}

.aside {
	display: flex;
	flex-direction: column;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 20px,
		rgba(0, 0, 0, 0.1) 0px -12px 30px, rgba(0, 0, 0, 0.1) 0px 4px 6px,
		rgba(0, 0, 0, 0.1) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	width: 20rem;
	padding: 1rem;
	height: auto;
	border-radius: 5%;
	background-color: #f8f8f8;
	margin: 1rem;
	justify-content: space-around;
	align-items: center;

}

.big-section {
	flex-grow: 2;
}


.row-team-logo {
	display: flex;
	flex-direction: row;
	align-items: center	;
	margin-bottom: 1rem;
	text-align: left;
	justify-content: space-around;
}

.team-logo {
	width: auto;
	margin-right: 10px;
}

.team-info {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	text-align: left;
  }
  
  .team-info img {
	width: auto;
	margin-left: 10px;
  }
  
  .team-info h3, .team-info p {
	margin: 0;
	font-size: 1rem;
  }
  
  .team-info p {
	font-size: 0.9rem;
  }
  
  .team-info .text-container {
	display: flex;
	flex-direction: column;
  }
  