.sidebarContent {
	display: flex;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	background-color: #ffe6f7;
}

.sidebar-logo {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.sidebar-logo img {
	width: 80%;
}

.sidebar-nav ul {
	list-style: none;
	transform: translateX(-10px);
}

.sidebar-nav li {
	margin: 20px 0;
}

.sidebar-link {
	color: black;
	display: flex;
	gap: 0.5rem;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	transition: background-color 0.3s;
	font-family: var(--font-title);
	font-size: 1.25rem;
}

.margin-icon-text {
	margin-left: 20px;
}

.sidebar-link i {
	margin-right: 10px;
}

.sidebar-link .icons {
	font-size: 1.5rem; /* Taille des icônes */
	margin-right: 10px; /* Espace entre l'icône et le texte */
}

.sidebar-link:hover,
.sidebar-link:focus {
	background-color: white;
}

.sidebar-footer .sidebar-link {
	display: flex;
	align-items: center;
}

.icons {
	transform: translateY(-2px);
	transform: translateX(-8px);
}
