.big-section-stats {
	padding-left: 12rem;
}

.statsGrid {
	padding: 2rem 3rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.statsGridTeam {
	grid-area: 1 / 1 / 6 / 2;
	background-color: rgb(77, 77, 77);
	border-radius: 0.5rem;
	margin-right: 2rem;
}
.statsGridTop1 {
	grid-area: 1 / 2 / 2 / 3;
	border: 1px solid gray;
	background-color: rgb(77, 77, 77);

	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
		rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	margin-bottom: 1rem;
	margin-right: 1rem;
	border-radius: 0.5rem;
}
.statsGridTop2 {
	grid-area: 1 / 3 / 2 / 4;
	background-color: rgb(77, 77, 77);

	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
		rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	margin-bottom: 1rem;
	margin-right: 1rem;
	border-radius: 0.5rem;
}
.statsGridTop3 {
	grid-area: 1 / 4 / 2 / 5;
	background-color: rgb(77, 77, 77);

	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
		rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	margin-bottom: 1rem;
	border-radius: 0.5rem;
}
.statsGridGraph {
	grid-area: 2 / 2 / 6 / 5;
	background-color: rgb(182, 182, 182);

	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
		rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	border-radius: 0.5rem;
}

.statsGridTeam img {
	display: flex;
	flex-direction: column;
	width: 5rem;
}

.statsGridMapImg {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1.5rem;
	padding: 0.4rem;
}

.statsGridMapImg:active,
.statsGridMapImg.selected {
	background-color: #ffb0f5;
	border-radius: 1.5rem;
}

.statsGridMapImg img {
	margin-left: 0;
}

.piePie {
	font-size: 3em;
}

.statsGridTop1,
.statsGridTop2,
.statsGridTop3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.statsGridTop1 p:nth-child(1),
.statsGridTop2 p:nth-child(1),
.statsGridTop3 p:nth-child(1) {
	font-size: 2em;
	margin-top: 5px;
	color: white;
}

.statsGridTop1 p:nth-child(2),
.statsGridTop2 p:nth-child(2),
.statsGridTop3 p:nth-child(2) {
	font-size: 5em;
	color: white;
}
